.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
div.highlight div.medium {
    width: 100%;
}
div.highlight div.small {
    width: 100%;
}
div.highlight div.small_medium {
    width: 100%;
}
.fR div.highlight div.small {
	margin-left: 20px;
}

.medium_txt {
    width: 100%;
    padding: 20px 0 0;
}

.padding_top {
    padding: 20px 0 0;
}

div.list_channels{
 border-top: 1px solid #E4E4E4;
 height: 222px;
}
div.list_channels a:HOVER {
    background-color: #3366CC;
    color: #FFFFFF;
}
div.list_channels ul li a,
div.list_channels p {
    border-top: 1px solid #E4E4E4;
    display: block;
    padding: 0.58em 0.55em 0.58em 2.55em;
    position: relative;
}
a:HOVER img,
a:HOVER div.image{
	outline: 3px solid #2580A2;
}

/*****one-small*****************************************************/

div.small .fR{
	width: 140px;
}
div.small .image {
	margin-right: 20px;
    height: 60px;
    width: 90px;
}
div.highlights div.small p {
    font-size: 0.8em;
    line-height: 1.4em;
    margin-bottom: 1.4em;
    font-weight:normal;
}
div.highlights div.small h2 {
    font-size: 1.17em;
    line-height: 1em;
    margin-bottom: 0.25em;
}

/*4 colunas*/
div.fourcol div.small .fR{
	margin-left: 20;
	width: 230px;
}

/* ============================= */
/* ! Layout for 1024 version   */
/* ============================= */
@media handheld, only screen and (max-width: 1024px) {

	div.highlights div.small p.description{
		display: none;
	}
	div.small .image {
	    width: 90px;
	    margin-right: 20px;
	}
	div.highlights div.small p {
	    font-size: 0.8em;
	    line-height: 1.4em;
	    margin-bottom: 1.4em;
	    font-weight:normal;
	}
	div.highlights div.small h2 {
	    font-size: 1.17em;
	    line-height: 1em;
	    margin-bottom: 0.25em;
	}
	
	/*4 colunas*/
	div.fourcol div.small .fR{
		margin-left: 10;
		width: 180px;
	}

}
/* ============================= */
/* ! Layout for 800 version   */
/* ============================= */
@media handheld, only screen and (max-width: 800px) {

	div.small .fR{
		margin-left: 10;
		width: 90px;
	}
	div.highlights div.small p.description{
		display: none;
	}
	div.small .image {
	    width: 57px;
	    margin-right: 10;
	}
	div.highlights div.small p {
	    font-size: 0.8em;
	    line-height: 1.4em;
	    margin-bottom: 1.4em;
	}
	div.highlights div.small h2 {
	    font-size: 1.17em;
	    line-height: 1em;
	    margin-bottom: 0.25em;
	}
	
	/*4 colunas*/
	div.fourcol div.small .fR{
		margin-left: 10;
		width: 130px;
	}
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {
	
	div.small .fR{
		width: 140px;
	}
	div.small .image {
		margin-right: 20px;
	    height: 60px;
	    width: 90px;
	}
	div.highlights div.small p.description{
		display: block;
	}
	div.highlights div.small p {
	    font-size: 0.8em;
	    line-height: 1.4em;
	    margin-bottom: 1.4em;
	    font-weight:normal;
	}
	div.highlights div.small h2 {
	    font-size: 1.17em;
	    line-height: 1em;
	    margin-bottom: 0.25em;
	}
	
	/*4 colunas*/
	div.fourcol div.small .fR{
		margin-left: 20;
		width: 230px;
	}
	
}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

}

/*****fim one-small*************************************************/


/*********one-medium_wide*******************************************/
div.medium_wide .image {
    height: 100px;
    width: 260px;
}

div.highlight div.medium_wide h2 {
	font-size: 24px;
    margin-bottom: 6px;
    padding-top: 8px;
}

div.highlight div.medium_wide p {
	font-size: 16px;
    line-height: 22px;
    margin-bottom: 22px;
    font-weight:normal;
}
/* ============================= */
/* ! Layout for 1024 version   */
/* ============================= */
@media handheld, only screen and (max-width: 1024px) {
	div.medium_wide .image {
	    width: 219px;
	}
	div.highlight div.medium_wide h2 {
		font-size: 18px;
	    margin-bottom: 6px;
	    padding-top: 8px;
	}
	div.highlight div.medium_wide p {
		font-size: 12px;
	    line-height: 15px;
	    margin-bottom: 20px;
	    font-weight:normal;
	}

}
/* ============================= */
/* ! Layout for 800 version   */
/* ============================= */
@media handheld, only screen and (max-width: 800px) {
	div.medium_wide .image {
	    width: 160px;
	}
	div.highlight div.medium_wide h2 {
		font-size: 18px;
	    margin-bottom: 6px;
	    padding-top: 8px;
	}
	div.highlight div.medium_wide p {
		font-size: 12px;
	    line-height: 15px;
	    margin-bottom: 20px;
	    font-weight:normal;
	}

}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {
	div.medium_wide .image {
	    width: 337px;
	}
	div.highlight div.medium_wide h2 {
		font-size: 18px;
	    margin-bottom: 6px;
	    padding-top: 8px;
	}
	div.highlight div.medium_wide p {
		font-size: 12px;
	    line-height: 15px;
	    margin-bottom: 20px;
	    font-weight:normal;
	}
}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

}

/*****fim one-medium_wide*******************************************/

/*****two-highlight*************************************************/
.two-highlight{
	width: 260px;
}

div.highlights .fR{
	margin-left: 20px;
}

div.medium_wide .image {
    height: 100px;
    width: 260px;
}

div.two-highlight div.medium_wide h2 {
	font-size: 24px;
    margin-bottom: 6px;
    padding-top: 8px;
}

div.two-highlight div.medium_wide p {
	font-size: 16px;
    line-height: 22px;
    margin-bottom: 22px;
    font-weight:normal;
}

/* ! Layout for 1024 version   */
@media handheld, only screen and (max-width: 1024px) {
	.two-highlight{
		width: 219px;
	}
	
	div.highlights .fR{
		margin-left: 20px;
	}
	
	div.medium_wide .image {
	    width: 219px;
	}
	
	div.two-highlight div.medium_wide h2 {
		font-size: 18px;
	    margin-bottom: 6px;
	    padding-top: 8px;
	}
	
	div.two-highlight div.medium_wide p {
		font-size: 12px;
	    line-height: 15px;
	    margin-bottom: 20px;
	    font-weight:normal;
	}
}
/* ! Layout for 800 version   */
@media handheld, only screen and (max-width: 800px) {
	.two-highlight{
		width: 160px;
	}
	
	div.highlights .fR{
		margin-left: 20px;
	}
	
	div.medium_wide .image {
	    width: 160px;
	}
	
	div.two-highlight div.medium_wide h2 {
		font-size: 18px;
	    margin-bottom: 6px;
	    padding-top: 8px;
	}
	
	div.two-highlight div.medium_wide p {
		font-size: 12px;
	    line-height: 15px;
	    margin-bottom: 20px;
	    font-weight:normal;
	}
}

/* ! Layout for mobile version   */
@media handheld, only screen and (max-width: 767px) {
	.two-highlight{
		width: 337px;
	}
	
	div.highlights .fR{
		margin-left: 20px;
	}
	
	div.medium_wide .image {
	    width: 337px;
	}
	
	div.two-highlight div.medium_wide h2 {
		font-size: 18px;
	    margin-bottom: 6px;
	    padding-top: 8px;
	}
	
	div.two-highlight div.medium_wide p {
		font-size: 12px;
	    line-height: 15px;
	    margin-bottom: 20px;
	    font-weight:normal;
	}
}

/* ! Provide higher res assets for iPhone 4   */
@media only screen and (-webkit-min-device-pixel-ratio: 2) { 
	.two-highlight{
		width: 337px;
	}
	
	div.highlights .fR{
		margin-left: 20px;
	}
	
	div.medium_wide .image {
	    width: 337px;
	}
	
	div.two-highlight div.medium_wide h2 {
		font-size: 18px;
	    margin-bottom: 6px;
	    padding-top: 8px;
	}
	
	div.two-highlight div.medium_wide p {
		font-size: 12px;
	    line-height: 15px;
	    margin-bottom: 20px;
	    font-weight:normal;
	}
}

/***** fim two-highlight *******************************************/

/********************************************************************/
/*Barra de compartilhe*/

/**************shareBar1**********************************/

.shareBar1 {
    border: 1px solid #E9E9E9;
    list-style: none outside none;
    padding: 8px;
}

.shareBar1 li {
	margin-top:5px;
    list-style-position: outside;
}	

.shareBar1 .shareFloat {
    float: left;
    height: 23px;
}

.shareBar1 .orkut {
    width:110px;
    margin-right: 20px;
}

.shareBar1 .plusone {
	width:90px;
    margin-right: 20px;
}

.shareBar1 .twitter {
	width:110px;
    margin-right: 20px;
}

/**************FIM shareBar1*****************************************/

/**************shareBar2*********************************************/
div.shareBar2 {
    border: 1px solid #E9E9E9;
    list-style: none outside none;
    width: 228px;
    padding: 10px 10px 10px;
}

div.shareBar2 ul{
    margin-left: 20px;
}

div.shareBar2 li {
    float: left;
    width: 100px;
}	
div.shareBar2 li.facebook,
div.shareBar2 li.twitter {
	margin-bottom: 10px;
}

.shareBar2 ul, .shareBar2 ol{
    list-style: none outside none;
}
/**************FIM shareBar2*****************************************/

/**************shareBar3*********************************************/
.shareBar3 {
    border: 1px solid #E9E9E9;
    list-style: none outside none;
    padding: 8px;
}

.shareBar3 li {
    list-style-position: outside;
    margin-top: 5px;
}	

.shareBar3 .shareFloat {
    float: left;
    height: 23px;
}

.shareBar3 .orkut {
    width:110px;
    margin-right: 20px;
}

.shareBar3 .plusone {
	width:90px;
    margin-right: 20px;
}

.shareBar3 .twitter {
	width:110px;
    margin-right: 20px;
}
/* ============================= */
/* ! Layout for 1024 version   */
/* ============================= */
@media handheld, only screen and (max-width: 1024px) {

	.shareBar3 .twitter {
		width:110px;
	    margin-right: 20px;
	    display: none;
	}
	
}
/* ============================= */
/* ! Layout for 800 version   */
/* ============================= */
@media handheld, only screen and (max-width: 800px) {

	.shareBar3 .twitter {
		width:110px;
	    margin-right: 20px;
	    display: none;
	}
	
}
/**************FIM shareBar3*****************************************/

/**Twitter o que ta rolando*/
.threecol #twtr-widget-1,
.threecol .twtr-doc{
	width: 237px !important;
}
/*Barra de compartilhe*/
/********************************************************************/
