
 .markItUpButton1 a {
	background-image:url(/img/pattern/form/markItup/h1.png); 
}
 .markItUpButton2 a {
	background-image:url(/img/pattern/form/markItup/h2.png); 
}
 .markItUpButton3 a {
	background-image:url(/img/pattern/form/markItup/h3.png); 
}
 .markItUpButton4 a {
	background-image:url(/img/pattern/form/markItup/h4.png); 
}
 .markItUpButton5 a {
	background-image:url(/img/pattern/form/markItup/h5.png); 
}
 .markItUpButton6 a {
	background-image:url(/img/pattern/form/markItup/h6.png); 
}
 .markItUpButton7 a {
	background-image:url(/img/pattern/form/markItup/paragraph.png); 
}

 .markItUpButton8 a {
	background-image:url(/img/pattern/form/markItup/bold.png);
}
 .markItUpButton9 a {
	background-image:url(/img/pattern/form/markItup/italic.png);
}
 .markItUpButton10 a {
	background-image:url(/img/pattern/form/markItup/stroke.png);
}

 .markItUpButton11 a {
	background-image:url(/img/pattern/form/markItup/list-bullet.png);
}
 .markItUpButton12 a {
	background-image:url(/img/pattern/form/markItup/list-numeric.png);
}
 .markItUpButton13 a {
	background-image:url(/img/pattern/form/markItup/list-item.png);
}

 .markItUpButton14 a {
	background-image:url(/img/pattern/form/markItup/picture.png); 
}
 .markItUpButton15 a {
	background-image:url(/img/pattern/form/markItup/link.png);
}

 .markItUpButton16 a {
	background-image:url(/img/pattern/form/markItup/clean.png);
}
 .preview a {
	background-image:url(/img/pattern/form/markItup/preview.png);
}